services:
  site:
    build:
      context: . # Specify the Docker file location
      target: dev # Use the 'dev' stage from the Dockerfile
    ports:
      - "3050:3000"
    environment:
      WATCHPACK_POLLING: "true"
      DATABASE_HOST_NAME: database
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER_NAME: ${DATABASE_USER_NAME}
      DATABASE_USER_PASSWORD: ${DATABASE_USER_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      #SOUNDCLOUD_CLIENTID: ${SOUNDCLOUD_CLIENTID}
      S3_ACCOUNTID: ${S3_ACCOUNTID}
      S3_API: ${S3_API}
      S3_ACCESSKEYID: ${S3_ACCESSKEYID}
      S3_SECRECTKEY: ${S3_SECRECTKEY}
    command: npm run dev
    volumes:
      - .:/app # Mount the entire project directory with a bind mount for development
      - /app/node_modules # Ensure node_modules from the container is used and not overwritten by the host
      - /app/.next
      - uploads:/app/public/uploads # Volume for uploaded files
    depends_on:
      - database
    networks:
      - SoundwaveNetwork # Use the custom network

  database:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "SoundWaveDB"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - SoundwaveNetwork
  
  # minio:
  #   image: quay.io/minio/aistor/minio
  #   ports:
  #     - "9000:9000"
  #     - "9001:9001"
  #   command: server /mnt/minio
  #   volumes:
  #   - minio_data:/mnt/minio

networks:
  SoundwaveNetwork:
    driver: bridge

volumes:
  db_data:
  uploads:
  # minio_data: