services:
  site:
    build:
      context: .
      target: dev
    ports:
      - "3050:3000"
    environment:
      - WATCHPACK_POLLING=true
    command: npm run dev
    volumes:
      - .:/usr/src
      - /usr/src/node_modules
      - /usr/src/.next

  db:
    image: mysql:oraclelinux9
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: SoundWaveDB
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql


volumes:
  db_data: