services:
  site:
    build:
      context: .
      target: dev
    ports:
      - "3050:3000"
    environment:
      WATCHPACK_POLLING: "true"
      DATABASE_HOST_NAME: "database"
      DATABASE_NAME: "SoundWaveDB"
      DATABASE_USER_NAME: "root"
      DATABASE_USER_PASSWORD: "root"
      JWT_SECRET: "2QSkFobLj9Z!l&pgnP$96kDagU$aNZ^Z$xH9riXmz@dg4ZDZ$0Dse6zddF$sOrx8#8&GWXixT$TUr48mj8lCPp1UB1y^NDLjADyphlowZBYL^PIME7X9BsiZuR$u1$p5"
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
      - uploads:/app/public/uploads
    depends_on:
      - database

  database:
    image: mysql:oraclelinux9
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "SoundWaveDB"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  
  # minio:
  #   image: quay.io/minio/aistor/minio
  #   ports:
  #     - "9000:9000"
  #     - "9001:9001"
  #   command: server /mnt/minio
  #   volumes:
  #   - minio_data:/mnt/minio



volumes:
  db_data:
  uploads:
  # minio_data: