.searchArea {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.searchArea input {
    background-color: var(--highlight-color);
    width: 500px;
    padding: 20px;
    border-radius: 8px;
}

.searchContainer {
    position: relative;
}

.resultsContainer {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    max-height: 500px;
    margin-top: 2.5rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);

    overflow-y: auto;
    box-shadow: 0 8px 24px rgba(0,0,0,0.6);
}
.resultsContainer.show {
    display: block !important;
}

.songsList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

.songElement {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    transition: ease 0.3s;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.songElement:hover{
    background-color: var(--mark-color);
    cursor: pointer;
}

.imgContainer {
    position: relative;
    width: 50px;
    height: 50px;
}


.imgContainer Image {
    object-fit: contain;
}

.listElement {
    display: flex;
    gap: 0.75rem;
    justify-content: start;
    align-items: center;
}

.songTitle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}