.searchArea {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchArea input {
    background-color: var(--highlight-color);
    width: 500px;
    padding: 20px;
    border-radius: 8px;
}

.searchContainer {
    position: relative;
}

.resultsContainer {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    margin-top: 2.5rem;
    padding: 1.5rem;
    background-color: var(--secondary-color);
}
