.header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 1.5rem;

    background-color: var(--secondary-color);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.75rem;
}

.imgLogoContainer {
    position: relative;
    width: 50px;
    height: 50px;
}


.logo Image {
    object-fit: contain;
}

.userArea {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.75rem;
    gap: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
}

.userArea Image{
    object-fit: contain;
}
.userArea:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.avatar {
    border-radius: 0.7rem;
}

.userMenu {
    position: absolute;
    display: grid;
    grid-template-rows: 0fr;
    top: 100%;
    right: 1rem;
    margin-top: 1rem;
    width: fit-content(300px);
    border-radius: 0.5rem;

    background-color: var(--secondary-color);

    transition: 0.3s ease-in-out;
    overflow: hidden;

    > ul{
        overflow: hidden;
    }
}
.userMenu.show{
    grid-template-rows: 1fr;
}

.userMenuList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

.listElement {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    transition: ease 0.3s;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.listElement:hover{
    background-color: var(--accent-color);
    cursor: pointer;
}
.userMenuList .logoutButton {
    background-color: var(--logout-color);
    transition: ease 0.3s;
}
.userMenuList .logoutButton:hover {
    background-color: var(--logout-color-hover);
}

.userMenuList .settingsButton::before {
    content: '';
    width: 1em;
    height: 1em;

    background-image: url("/icons/settings-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.userMenuList .logoutButton::before {
    content: '';
    width: 1em;
    height: 1em;
    
    background-image: url("/icons/logout.svg");
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.settingsBackdrop

.settingsContainer {
    position: fixed;
    display: none;
    width: 90%;
    height: 90%;
    z-index: 9999;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: var(--highlight-color);
}

.settingsContainer.show {
    display: block !important;
}