.gridContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    overflow: auto;
}

.gridElement {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
}

@media (max-width: 950px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}