.title {
    padding: 2rem;
}

/*
 * auto-fit checks automatically if a column can fit or it creates a new row
 * instead minmax is a functions that tells the grid to fit elements with a
 * width between 350px and 1fr, in this way if we have some white space that is
 * less than 300px so it cant create a new column, it will fit the existing
 * columns to fit all the page
 */

.songsList {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1.5rem;
    overflow: auto;
}

.listElement {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    transition: ease 0.3s;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.listElement:hover{
    background-color: var(--mark-color);
    cursor: pointer;
}

.imgContainer {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 10;
}


.imgContainer Image {
    object-fit: contain;
}

.songElement {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.songTitle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}