.songsList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

.listElement {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    transition: ease 0.3s;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.listElement:hover{
    background-color: var(--accent-color);
    cursor: pointer;
}

.imgContainer {
    position: relative;
    width: 50px;
    height: 50px;
}


.imgContainer Image {
    object-fit: contain;
}

.songElement {
    display: flex;
    gap: 0.75rem;
    justify-content: start;
    align-items: center;
}

.songTitle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}