:root {
    --primary-color: #0E0D0B;
    --secondary-color: #12110E;
    --accent-color: #171611;
    --highlight-color: #0A0A09;
    --mark-color: #FF6F61;
    --primary-text-color: white;
    --secondary-text-color: #656565;
    --logout-color: #cb0303;
    --logout-color-hover: #af0404;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
    font-size: 16px;
}

body {
    background-color: var(--primary-color);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

button, a, input{
    font: inherit;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 2.5rem; /* 2.5 * 16 = 40px */
}
h2 {
  font-size: 1.875em; /* 1.875 * 16 = 30px */
}
h3 {
    font-size: 1.15em;
}

/*Sub heading */
h4 {
    font-size: 1.15em;
    color: var(--secondary-text-color);
    font-weight: 500;
}

.hidden {
    display: none !important;
}

