:root {
    --site-primary-color: #0E0D0B;
    --site-secondary-color: #12110E;
    --site-accent-color: #171611;
    --site-highlight-color: #0A0A09;
    --site-mark-color: #FF6F61;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body {
    background-color: var(--site-primary-color);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 1.5rem;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--site-secondary-color);
    width: 600px;

    padding: 2rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;

    box-shadow: black 0px 12px 24px;
}

.card-header {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    padding: 20px;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.title {
    margin: 0; /* Rimuoviamo i margini non necessari */
    font-size: 3rem;
    font-weight: bold;
}

.card-header img {
    margin: 0; /* Rimuoviamo i margini dell'immagine */
}

.card hr {
    width: 100%;
    margin: 1.5rem 0;
    border: 0.5px solid var(--site-primary-color);
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card  .input-fields {
    padding: 20px 20px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: var(--site-accent-color);
    color: white;
}

.card .submit-button {
    margin-top: 3rem;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--site-highlight-color);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.card .submit-button:hover {
    background-color: var(--site-mark-color);
}   