:root {
    --primary-color: #0E0D0B;
    --secondary-color: #12110E;
    --accent-color: #171611;
    --highlight-color: #0A0A09;
    --mark-color: #FF6F61;
    --primary-text-color: white;
    --secondary-text-color: #656565;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body {
    background-color: var(--primary-color);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 1.5rem;
}

.hidden {
    display: none !important;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    width: 600px;

    padding: 2rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;

    box-shadow: black 0px 12px 24px;
}

.card-header {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    padding: 20px;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.title {
    margin: 0; /* Rimuoviamo i margini non necessari */
    font-size: 3rem;
    font-weight: bold;
}

.card-header img {
    margin: 0; /* Rimuoviamo i margini dell'immagine */
}

.card hr {
    width: 100%;
    margin: 1.5rem 0;
    border: 0.5px solid var(--primary-color);
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card  .input-fields {
    padding: 20px 20px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: var(--accent-color);
    color: white;
}

.card .submit-button {
    margin-top: 0.5rem;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--highlight-color);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.card .submit-button:hover {
    background-color: var(--mark-color);
}

.error-message{
    text-align: center;
    color: var(--mark-color);
}

.cardFooter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.5rem;
}

.cardFooter a {
    color: var(--secondary-text-color)
}

.header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 1.5rem;

    background-color: var(--secondary-color);
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    gap: 0.75rem;
}

.img-logo-container {
    position: relative;
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-size: 2rem;
}

.logo Image {
    object-fit: contain;
}

.userArea {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.75rem;
    gap: 0.75rem;
    border-radius: 0.5rem;
}
.userArea:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.avatar {
    border-radius: 0.7rem;
}

.userUtils {
    position: absolute;
    display: flex;
    top: 100%;
    right: 1rem;
    margin-top: 1rem;
    width: fit-content(300px);
    padding: 2rem;

    background-color: var(--highlight-color);
}