.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    width: 600px;

    padding: 2rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;

    box-shadow: black 0px 12px 24px;
}

.cardHeader {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    padding: 20px;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.title {
    margin: 0; /* Rimuoviamo i margini non necessari */
    font-size: 3rem;
    font-weight: bold;
}

.cardHeader img {
    margin: 0; /* Rimuoviamo i margini dell'immagine */
}

.card hr {
    width: 100%;
    margin: 1.5rem 0;
    border: 0.5px solid var(--primary-color);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card .inputFields {
    padding: 20px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: var(--accent-color);
    color: white;
}

.card .submitButton {
    margin-top: 0.5rem;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--highlight-color);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.card .submitButton:hover {
    background-color: var(--mark-color);
}
.errorMessage{
    text-align: center;
    color: var(--mark-color);
}

.cardFooter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.5rem;
}

.cardFooter a {
    color: var(--secondary-text-color)
}